.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 0.1em solid grey;
  border-radius: 0.5em;
  padding: 0.5em;
  margin: 1em 0;
}

.row > .name {
  width: 12%;
  font-weight: 700;
  padding-left: 1em;
}

.row > .priority {
  width: 3%;
}

.row > .description {
  width: 30%;
}

.row > .vendor {
  width: 10%;
}

.row > .quantity {
  width: 5%;
  font-style: italic;
}

.row > .unit-price {
  width: 15%;
  color: rgb(68, 68, 68);
}

.row > .total-price {
  width: 10%;
  font-weight: 700;
}

.row > .is-purchased {
  width: 5%;
  /* border-right: 0.1em solid darkgrey; */
}

.row > .edit {
  width: 5%;
}

.row > .delete {
  width: 5%;
}
